<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Overview</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-14">
                    <div class="text-center">
                        <p><b>BeeT</b> is an intuitive tool to create, run and debug behavior trees.</p>
                        <br />
                    </div>
                    <div class="col-lg-6">
                        <img src="img/gifs/editor_create.gif" width=100% height=auto>
                        <div class="text-center">
                            <h3>Visual Editor</h3>
                             
                        </div>     
                        <p>Use the <b>Visual Editor</b> to create and edit behavior trees to be used by the library.</p>
                    </div>
                    <div class="col-lg-6">
                        <img src="img/gifs/debugger.gif" width=100% height=auto>
                        <div class="text-center">
                            <h3>Visual Debugger</h3>    
                        </div>     
                        <p>Use the <b>Visual Debugger</b> to keep track of the evolution of the tree. Enable the network to debug your game while you play in a different machine!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>