<!-- Features -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Features</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div style="display:grid; grid-template-columns: auto auto auto;grid-gap:20px">
            {% include features/event_driven.html %}
            {% include features/decorators.html %}
            {% include features/simple_parallel.html %}
            {% include features/performance.html %}
            {% include features/visual_debugger.html %}
            {% include features/network_debug.html %}
            {% include features/language_c.html %}
            {% include features/easy_integration.html %}
            {% include features/open_source.html %}
            
            
            
        </div>
    </div>
</section>
